/* main div */
.notes {   
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vh;
}      /*  end */
/* left div */
.sec{
    background-color: white;
    border: none;
    cursor: pointer;
    color: magenta;
}

.icon{
    position: relative;
    top: -73px;
    left: -35px;
    font-size: 24px;
}
.left {
    display: inline-block;
    width: 130px;  
    height: 140px;
    position: absolute;  
    border: 2px solid yellow;
    border-radius: 10px;
    left: 165px;
    top: 97px;
    text-align: center;
    
}   /*  end */
.left ul li {
    list-style: none;
    text-align: left;
}
.left :hover{
    list-style: circle;
    color: maroon;
}
.sec:hover{
    text-decoration: underline;
    color: maroon;
    list-style:circle ;
}
/* right div */

.right {
    display: inline-block;
    width: 496px;
    height: 95vh;
    position: relative;
    margin-top: 3px;
    margin-left: 389px; /*389*/
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: rgb(70, 209, 255);    ffc947 */
    background-color: #ebebeb ;
    overflow: hidden;
    
}   /*  end */
.notesList{
    overflow:auto;
    overflow-x: hidden;
    width: 507px;
    height: 522px;
    position: relative;
    top: 3px;
    scroll-behavior: smooth;
}

#hr1{
    position: relative;
    top: -3px;
}

#n1{
    margin-top: -8px;
}
.full{
   
    width: 500px;
    height: 70px;
    margin-top: 10px;
    box-shadow: 1px 2px 3px;
}


   /* header in right   */
header {
    text-align: center;
    /* margin-top: 10px; */
    background-color: #ffc947;
    border-radius: 10px;
    height: 31px;
    line-height: 26px;
}     /*  end */
                    /* starting */
/* first note div */
.note1 {
    border: 1px solid black;
    margin: 0px 2px;
    width: 485px;
    border-radius: 7px;
    margin-top: 10px;
    height: 60px;
}     /*  end */

  /* task 1 input in right div  ++====  main heading  */
#t1 {
    margin-left: 8px;
    margin-top: 2px;
    border-radius: 7px;
    border: white;
    background-color: transparent;
}    /*  end */

  /* notes in right div in notes 1 */

#des {
    display: block;
    margin-left: 8px;
    margin-top: 15px;
    border-radius: 7px;
    width: 90%;
    border: white;
    background-color: transparent;
}   /*  end */

::placeholder {     
    color: black;
    opacity: 0.8;
}      /*  end */


 /* for secong task 2 heading  */
#t2 {
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 7px;
    border: white;
    background-color: transparent;
}    /*  end */

/* descri of Task 2  */
#des1 {
    display: block;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 7px;
    width: 90%;
    border: white;
    background-color: transparent;
}     /*  end */

/* button for settigns  */
#b1{
    position: relative;
    outline: none;
    top: -38px;
    right: -454px;
    font-size: 23px;
    width: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
}     /* end */

/* for some css to settings icon */
.fa-cog {
    font-size: 23px;
    color: black;
}    /*  end */

.btnc{                  /*btnc remove class*/
    border: none;
    background-color: rgb(27, 54, 211);
    width: 27px;
    border-radius: 24px;
    height: 25px;
    margin-left: 17px;
    margin-top: 15px;
}
.remove{                        /*   class*/
    border: none;
    background-color: rgb(27, 54, 211);
    width: 27px;
    border-radius: 24px;
    height: 25px;
    margin-left: 82px;
    /* margin-l: 82px; */
}

.check {
    width: 28px;
    height: 27px;
    border-radius: 10px;
    border: white;
    /* background: #000; */
    color: white;
    position: relative;
    top: 3px;
    left: -6px;
    cursor: pointer;
}
.tr {
    width: 28px;
    height: 27px;
    border-radius: 10px;
    border: white;
    color: white;
    position: relative;
    top: 3px;
    left: -6px;
    cursor: pointer;
}



 /* div for setting bar */
.op {
    border: 1px solid black;
    margin: 0px 27px;
    border-top: white;
    border-radius: 5px;
    height: 28px;
    display: none;
    width:435px;
    animation:backInDown  0.8s 1;
}   /*  end */
/* 
@keyframes option {
    
    from{
        width: 19px;
        margin:0px  245px;
        opacity: 0.2;
        animation: backInDown;
    }
   

    
} */


/* new */

/* second notes part  */
.note2 {
    border: 1px solid black;
    margin: 0px 2px;
    width: 485px;
    margin-top: 10px;
    height: 60px;
    border-radius: 7px;
}   /*  end */

/* button for settigns  */
#b2{
    position: relative;
    top: -38px;
    right: -454px;
    font-size: 23px;
    width: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
}     /* end */

/* first note div */
.noten {
    border: 1px solid black;
    margin: 0px 5px;
    border-radius: 7px;
    margin-top: 10px;
    height: 60px;
}     /*  end */

  /* task 1 input in right div  ++====  main heading  */
.t1 {
    margin-left: 8px;
    margin-top: 2px;
    border-radius: 7px;
    border: white;
    background-color: transparent;
}    /*  end */

.notesn{
    margin: 0px -1px;
    width: 496px;
}


#hr2 {
    position: relative;
    top: -4px;
}

/* footer side */

.footer {
    margin: 0px 3px;
    border-radius: 7px;
    position: absolute;
    top: 89.6%;  /*561  590*/
    width: 98% ;
    right:  0px;
    left: 0px;
}    /*  end */

/* new notes add */
#addText {
    width: 94%;
    height: 23px;
    border-radius: 7px;
    border: 1px solid black;
    outline: none;
    position:relative;
    top: 27px;
}     /*  end */

/*  div plus icon for new notes */
.plus1 {
    display: inline;
    height: 26px;
    width: 28px;
    position: relative;
    top: 0px;
    

}    /*  end */

/*  div title for adding title */
.title{
    width: 85%;
    margin: 0px 16px;
}

/* new notes add */
#addText2 {
    width: 83%;
    height: 23px;
    border-radius: 7px;
    border: 1px solid black;
    outline: none;
    display:none;
}     /*  end */


/*   plus button for adding notes */
.plus {   
    border-radius: 14px;
    border: none;  
    color: white;
    font-size: 22px;
    width: 26px;
    height: 27px;
    position: relative;
    left: 465px;
    /* transform: rotate(10deg); */
    pointer-events: none;
    background-color: #fbb000b2;
    opacity: 0.6;
    top: 0px;
}

.active{
    cursor: pointer;
    background-color: #fbaf00;
    pointer-events: all;  
    opacity: 1;
}
/* .done{
   
    position: relative;
    top: -61px;
    left: 900px;
    width: 5vw;
    height: 4vh;
    text-align: center;
    background-color: rgb(6 218 6);
    color: black;
    padding-top: 6px;
    transition-duration: 2s;
    animation: done 2s 1;
    
} */

.time{
    position: relative;
    /* border: 2px solid red; */
    top: -20px;
    left: 180px;
}


@keyframes done {
    from{
        position: relative;
        top: -61px;
        left: 900px;
        width: 5vw;
        height: 4vh;
        text-align: center;
        background-color: rgb(6 218 6);
        color: black;
        padding-top: 6px;
        display: inline;
    }
    to{
        background-color: white;
        color: white;

    }
}
/* .rotate{
      animation: rotate 2s 1;
      animation: rotate 2s 1;
    left: 466px;
    border: 2px solid red;
    position: relative;
    top: 3px;
} */
@keyframes rotate {
        from{
            transform: rotate(10deg);
        }
        to {
            transform: rotate(70deg);
        }
}

/* button for settigns  */
.b3{
    position: relative;
    top: -38px;   
    right: -454px;
    font-size: 23px;
    width: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
    
}     /* end */
.btn{
    border: 1px solid white;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.gr{
    background-color: cadetblue;
    color: darkblue;
    position: relative;
    left: 85px;
    top: 6px;
    border-radius: 10px;
    border: none;
    width: 25px;
    height: 28px;
    cursor: pointer;
}
.colors{
    border: 2px solid red;
    position: relative;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
    border: 2px solid red;
    position: relative;
    top: -54px;
    left: 232px;
    width: 143px;
    height: 38px;
    border-radius: 10px;
    background: beige;
    display: none;
}
#b12{
    margin-left: 7px;
}
@media (max-width:350px) {
    .plus1{
        top: 35px;
    }
    
    .footer{
        top: 87%;
    }
    #addText2{
        top: -2px;
    }
    #addText{
        top: 32px;
        width: 86%;
    }
}
@media (max-width:500px) {
    .notes{
        border: none;
    }
    .left{
        display: none;
    }
    .right{
        width: 355px;
        margin-left: 0px;
        height: 104vh;
    }
    .btnc{
        margin-left: 94px;
    }
    #b1{
        right: -304px;
        font-size: 28px;
    }
    #b2{
        right: -304px;
        font-size: 28px;
    }
    #b{
        right: -304px;
        font-size: 28px;
    }
    .footer{
        top: 92%;
    }
    #addText{
        width: 89%;
        top: 9px;
    }
    #addText2{
        position: relative;
        top: -17px;
    }
    .op{
        width: 290px;
    }
    .plus1{
        position: relative;
        top: 9px;
        left: 0px;
    }
    #plus{
        position:initial;
    }
    .notesList{
        height: 88%;
    }
    #hr2{
        top: -13px;
    }
    /* .search {
        display: none;
    } */
    .b3{
       right: -305px; 
       font-size: 28px;
    }
    
}




/* notes in right div in notes 1 */
.des {
    display: block;
    margin-left: 8px;
    margin-top: 15px;
    border-radius: 7px;
    width: 90%;
    border: white;
    background-color: transparent;
}   /*  end */

::placeholder {     
    color: black;
    opacity: 0.8;
}      /*  end */


/* for some css to settings icon */
.fa-cog {
    font-size: 23px;
    color: black;
}    /*  end */

.noten{
    margin-top: 2px;
}

.darkmode{
    background: #000;
    color: white;
    /* filter: invert(100%); */
}
.notesm{
    display: inline-block;
    margin: 5px;
    margin-left: 16px;
    width: fit-content;
    height: fit-content;
}
.title{
    margin: 5px;
    margin-left: 16px;
}
.bar {
    /* background-color: yellow; */
    border: 1px solid black;
    margin: 0px 27px;
    border-top: white;
    border-radius: 5px;
    background-color: blanchedalmond;
    height: 147px;
    display: none;
    width:435px;
    animation:backInDown  0.8s 1;
    z-index: 71;
    position: relative;
}
.ser {
    color: yellow;
}

.footer-icon{
    display:none;
    margin-top: 100%;
    width: 100%;
}
body{
    min-height: 100vh;
}
/* for vertical line  */
.vl {
    border-left: 2px solid hsl(0deg 0% 3%);
    height: 39px;
    position: relative;
    left: 18%;
    margin-left: -3px;
    top: -38px;
  }

svg{
    margin-left: 16px;
    margin-top: 5px;
    cursor: pointer;
}  
.outline{
    outline: none;
}
.option {
    border: 1px solid red;
    width: 435px;
    height: 147px;
    margin-left: 27px;
    border-radius: 10px;
    display: none;
}

.btn {
    border-radius: 9px; border: none; width: 27px; height: 26px;
    background-color: cornflowerblue;
    cursor: pointer;
}

.che{
    margin-left: 45px;
    margin-top: 12px;/*15*/
    cursor: pointer;
    background-color: cornflowerblue; color: black;
}   
.fa{
margin-left: 1px; font-size: 14px;
}
.remove {
    margin-left: 82px;
}

.pin {
    margin-left: 85px;
}

.time1 {
    margin-left: 85px;
}

#hr21 {
    border-bottom: none;
    margin-top: 25px;
}

#hr22 {
    border-bottom: none;
    width: 17%;
    margin-top: 8px;
    transform: rotate(90deg);
    margin-left: 78px;
}

.share {
    margin-left: 45px;
}

.color {
    /* border: 1px solid red; */
    width: 285px;
    height: 85px;
    margin-top: -43px;
    margin-left: 140px;
    display: grid;
    grid-template-columns: repeat(3, 117px);
}

.text {
    transform: rotate(90deg);
    color: rosybrown;
    font-size: 14px;
    position: relative;
    top: 138px;
    left: 206px;
}

.font {
    font-size: 10px;
}

#ch {
    position: relative;
    top: -132px;
    left: 40px;
   
}

#re {
    position: relative;
    top: -132px;
    left: 115px;
}

#pi {
    position: relative;
    top: -132px;
    left: 197px;
}

#ti {
    position: relative;
    top: -132px;
    left: 283px;
}

#sh {
    position: relative;
    top: -76px;
    left: -90px;
}

.red {
    margin-left: 12px;
    background-color: red;
}

.yellow {
    margin-left: 12px;
    background-color: yellow;

}
.b{
    background-color: blue;
}
.g{
    background-color: green;
}
.li{
    background-color: lightgreen;
}
.sr{
    background-color: silver;
}
.last {
    margin-left: -5px;
}
.timer{
    position: relative;
    top: -551px;
    left: 862px;
    height: 30px; width: 32%; display: none;
}


@media (max-width:500px) {  
    .note1{
        width: 68.6%;
    }
    .notesn{
        width: 84.1%;
    }
    .option{
        width: 330px;
        margin-left: 15px;
    }
    .che , .share {
        margin-left: 17px;
    }
    .remove{
        margin-left: 50px;
    }
    .pin{
        margin-left: 57px;
    }
    .time1{
        margin-left: 60px;
    }
    #hr22{
        margin-left: 51px;
    }
    .color{
        margin-left: 87px;
        grid-template-columns: repeat(3,97px);
    }
    #ch {
        left: 13px;
    }
    #re {
        left: 57px;
    }
    #pi {
        left: 110px;
    }
    #ti {
        left: 170px;
    }
    #sh {
        top: -74px;
        left: -117px;
    }
    .text{
        top: 80px;
    left: 156px;
    }
    .timer{
        display: none;
    position: relative;
    top: -135px;
    left: 109px;
    border: 2px solid red;
    height: 83px;
    width: 57%;
    }
}
