


/* main div */
.notes {   
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vh;
}      /*  end */

/* left div */

.left {
    display: inline-block;
    width: 100px;
    margin-left: 212px;
    height: 200px;
    position: absolute;
    /* top: 0px; */
    border: 2px solid yellow;
    margin-top: 75px;
}   /*  end */

/* right div */

.right {
    display: inline-block;
    width: 496px;
    height: 95vh;
    position: relative;
    margin-top: 3px;
    margin-left: 389px;
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: rgb(70, 209, 255);    ffc947 */
    background-color: #ebebeb ;
    overflow: hidden;
    
}   /*  end */
.notesList{
    overflow:auto;
    width: 507px;
    height: 522px;
    position: relative;
    top: 3px;
}

#hr1{
    position: relative;
    top: -3px;
}

#n1{
    margin-top: -8px;

}
   /* header in right   */
header {
    text-align: center;
    /* margin-top: 10px; */
    background-color: #ffc947;
    border-radius: 10px;
    height: 31px;
    line-height: 26px;
}     /*  end */
                    /* starting */
/* first note div */
.note1 {
    border: 1px solid black;
    margin: 0px 5px;
    border-radius: 7px;
    margin-top: 10px;
    height: 60px;
}     /*  end */

  /* task 1 input in right div  ++====  main heading  */
#t1 {
    margin-left: 8px;
    margin-top: 2px;
    border-radius: 7px;
    border: white;
    background-color: transparent;
}    /*  end */

  /* notes in right div in notes 1 */

#des {
    display: block;
    margin-left: 8px;
    margin-top: 15px;
    border-radius: 7px;
    width: 90%;
    border: white;
    background-color: transparent;
}   /*  end */

::placeholder {     
    color: black;
    opacity: 0.8;
}      /*  end */


 /* for secong task 2 heading  */
#t2 {
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 7px;
    border: white;
    background-color: transparent;
}    /*  end */

/* descri of Task 2  */
#des1 {
    display: block;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 7px;
    width: 90%;
    border: white;
    background-color: transparent;
}     /*  end */

/* button for settigns  */
#b1{
    position: relative;
    top: -38px;
    right: -454px;
    font-size: 23px;
    width: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
}     /* end */

/* for some css to settings icon */
.fa-cog {
    font-size: 23px;
    color: black;
}    /*  end */

.btnc{                  /*btnc remove class*/
    border: none;
    background-color: rgb(27, 54, 211);
    width: 27px;
    border-radius: 24px;
    height: 25px;
    margin-left: 150px;
}
.remove{                        /*   class*/
    border: none;
    background-color: rgb(27, 54, 211);
    width: 27px;
    border-radius: 24px;
    height: 25px;
    margin-left: 52px;
}

.check {
    width: 28px;
    height: 27px;
    border-radius: 10px;
    border: white;
    /* background: #000; */
    color: white;
    position: relative;
    top: 3px;
    left: -6px;
    cursor: pointer;
}
.tr {
    width: 28px;
    height: 27px;
    border-radius: 10px;
    border: white;
    color: white;
    position: relative;
    top: 3px;
    left: -6px;
    cursor: pointer;
}



 /* div for setting bar */
.op {
    border: 1px solid black;
    margin: 0px 27px;
    border-top: white;
    border-radius: 5px;
    height: 28px;
    display: none;
    width:435px;
    animation:backInDown  0.8s 1;
}   /*  end */
/* 
@keyframes option {
    
    from{
        width: 19px;
        margin:0px  245px;
        opacity: 0.2;
        animation: backInDown;
    }
   

    
} */


/* new */

/* second notes part  */
.note2 {
    border: 1px solid black;
    margin: 0px 5px;
    margin-top: 10px;
    height: 60px;
    border-radius: 7px;
}   /*  end */

/* button for settigns  */
#b2{
    position: relative;
    top: -38px;
    right: -454px;
    font-size: 23px;
    width: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
}     /* end */

/* first note div */
.noten {
    border: 1px solid black;
    margin: 0px 5px;
    border-radius: 7px;
    margin-top: 10px;
    height: 60px;
}     /*  end */

  /* task 1 input in right div  ++====  main heading  */
.t1 {
    margin-left: 8px;
    margin-top: 2px;
    border-radius: 7px;
    border: white;
    background-color: transparent;
}    /*  end */

#hr2 {
    position: relative;
    top: -4px;
}

/* footer side */

.footer {
    margin: 0px 3px;
    border-radius: 7px;
    position: absolute;
    top: 89.6%;  /*561  590*/
    width: 98% ;
    right:  0px;
    left: 0px;
}    /*  end */

/* new notes add */
#addText {
    width: 94%;
    height: 23px;
    border-radius: 7px;
    border: 1px solid black;
    outline: none;
    position:relative;
    top: 27px;
}     /*  end */

/*  div plus icon for new notes */
.plus1 {
    display: inline;
    height: 26px;
    width: 28px;
    


}    /*  end */

/*  div title for adding title */
.title{
    width: 85%;
    margin: 0px 16px;
}

/* new notes add */
#addText2 {
    width: 83%;
    height: 23px;
    border-radius: 7px;
    border: 1px solid black;
    outline: none;
    display:none;
}     /*  end */


/*   plus button for adding notes */
#plus {   
    border-radius: 14px;
    border: none;
    /* background-color: #000; */
    background-color: #fbaf00;
    color: white;
    font-size: 22px;
    width: 26px;
    height: 27px;
    cursor: pointer;
    position: relative;
    /* top: -25px; */
    left: 465px;
}


@media (max-width:500px) {
    .notes{
        border: none;
    }
    .left{
        display: none;
    }
    .right{
        width: 355px;
        margin-left: 0px;
        height: 104vh;
    }
    .btnc{
        margin-left: 94px;
    }
    #b1{
        right: -304px;
        font-size: 28px;
    }
    #b2{
        right: -304px;
        font-size: 28px;
    }
    #b{
        right: -304px;
        font-size: 28px;
    }
    .footer{
        top: 92%;
    }
    #addText{
        width: 89%;
        top: 9px;
    }
    #addText2{
        position: relative;
        top: -17px;
    }
    .op{
        width: 290px;
    }
    .plus1{
        position: relative;
        top: 9px;
        left: 0px;
    }
    #plus{
        position:initial;
    }
    .notesList{
        height: 88%;
    }
    #hr2{
        top: -13px;
    }

}




/* notes in right div in notes 1 */
.des {
    display: block;
    margin-left: 8px;
    margin-top: 15px;
    border-radius: 7px;
    width: 90%;
    border: white;
    background-color: transparent;
}   /*  end */

::placeholder {     
    color: black;
    opacity: 0.8;
}      /*  end */

/* button for settigns  */
.b3{
    position: relative;
    top: -38px;
    right: -454px;
    font-size: 23px;
    width: 27px;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
}     /* end */

/* for some css to settings icon */
.fa-cog {
    font-size: 23px;
    color: black;
}    /*  end */



.darkmode{
    background: #000;
    color: white;
    /* filter: invert(100%); */
}
